.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  background: #3b4048;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  width: 400px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 30px;
  margin-top: 10px;
}

.button-group {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.btn-primary, .btn-secondary {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s;
}

.btn-primary {
  background-color: #61dafb;
  color: #282c34;
  font-weight: bold;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #61dafb;
  color: #61dafb;
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(1.02);
}

.divider {
  font-size: 12px;
  background-color: #3b4048;
}