* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html, body {
 height: 100%
}

html {
    background-color: #058ed9;
    color: #FAF7EF;
}

body {
    padding: 20px;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

button {
    background-color: #483D3F;
    padding: 10px 5px;
    border-radius: 10px;
    color: #FAF7EF;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

#linkForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    label {
        margin-top: 20px;;
    }
    input, textarea {
        margin-bottom: 20px;
    }
    
}

